.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/.generated/
android/.gradle
android/.kotlin/
android/build/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.apk
*.aab
*.keystore
*.jks
# Android release signing
android/key.properties
android/app/*.jks
